.postData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .userData {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .post-paper {
    border: 1px solid rgb(47, 52, 86);
    border-radius: 25px !important;
    color: #000000 !important;
  }