Button {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/*home-features*/
.home-paper {
  text-align: center  !important;
  background-color: #2F3456 !important;
  color:#FFFFFFFF  !important;
  border-radius: 25px  !important;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
